html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #mapContainerHERE {
    height: 100%;
    width: 75%;
    float: left;
  }

  #side-panel {
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
    overflow: auto;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    box-sizing: border-box;
  }

  #slider-container {
    margin-bottom: 20px;
  }

  #chartContainer {
    margin-bottom: 20px;
}

.bar {
  margin-bottom: 10px;
  height: 20px;
  background-color: #0072bb;
  transition: width 0.5s ease;
}