/**
 * @license
 * Copyright 2024 WaliedCheetos-CTO corp
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

header {
  background-color: #808080  ;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

main {
  display: flex;
  height: 100%;
}

#leftPanel {
  width: 70%;
  padding: 20px;
}

#rightPanel {
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
}

#mapContainer {
  height: 60%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#browseButton, #promptTextArea, #submitButton {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.largeFont {
  font-size: large;
  font-weight: 500;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.mediumFont {
  font-size:medium;
  font-weight: 300;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.form-container {
  border-bottom: 2px solid rgb(127, 127, 127, 0.5);
}

img.thumb {
  border: 1px solid grey;
  border-radius: 8px;
  height: 100px;
  margin: 0px 16px 16px 0;
  padding: 2px;
  width: 100px;
}


.loading::after {
  content: "Loading...";
  display: block;
  font-size: 80%;
  font-style: italic;
  margin: 16px 0;
}

.loading {
  opacity: 0.5;
}

.error {
  color: red;
}

footer {
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



