
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #mapContainer {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            height: 100vh;
        }

        .map {
            width: 100%;
            height: 100%;
        }

        /* #mapContainerHERE, #mapContainerLeaflet {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            overflow: hidden;
        }

        #mapContainerHERE {
            left: 0;
            background-color: #f0f0f0;
        }

        #mapContainerLeaflet {
            right: 0;
            background-color: #e0e0e0;
        } */

        #searchBar {
            z-index: 999;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border-radius: 5px;
        }
        #suggestions {
            list-style-type: none;
            padding: 0;
            /* margin: 0; */
            width: 300px;
            margin: 0 auto;
        }

        #suggestions li {
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            cursor: pointer;
        }

        #suggestions li:hover {
            background-color: #f0f0f0;
        }
